@{
    ViewBag.Title = "درباره";
}


<p>یک سمپل ساده در رابطه با سیستم درگاه آسان پرداخت محصول شرکت ایران کیش-</p>
<p>این سیستم به صورت پرداخت به صورت اقساط است . </p>
<p> جهت دریافت اطلاعات بیشتر با شرکت ایران کیش در ارتباط باشید</p>
